@model TbSetting
@{
    ViewData["Title"] = "Setting Website";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Settings</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/Categories/List">List Categories</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Categories</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Website</h4>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
